<div class="field">

  <div class="row">
    <div class="col-lg-3">
      <%= f.attribute_fields do |a| %>
          <%= a.attribute_select({associations: [:category, :type]},{class: "form-control"}) %>
      <% end %>
    </div>
    <div class="col-lg-3">
      <%= f.predicate_select({only: predicate_conditions}, {class: 'form-control'}) %>
    </div>
    <div class="col-lg-4">
      <%= f.value_fields do |v| %>
          <%= v.text_field :value,{class: 'form-control'}  %>
      <% end %>
    </div>
    <div class="col-lg-2">
      <%= link_to "Remove".html_safe, '#', class: "remove_fields btn btn-warning btn-sm" %>
    </div>
  </div>
  <hr/>
</div>
