<h1>Advanced search</h1>
<hr/>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Search</h3>
  </div>
  <div class="panel-body">

    <%= search_form_for @search, url: frontend_advanced_search_path, method: :post do |f| %>

        <%= f.condition_fields do |c| %>
            <%= render "condition_fields", f: c %>
        <% end %>

        <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>

        <hr/>

        <div class="row">
          <div class="form-group">
            <div class="col-md-2">
              <%= f.label "Sort by book:", class: "control-label" %>
            </div>
            <%= f.sort_fields do |s| %>
                <div class="col-md-10">
                  <%= s.sort_select({}, {class: 'form-control', style: "width:40%; float:left; margin-right:30px;"}) %>
                </div>
            <% end %>
          </div>
        </div>

        <hr/>
        <div class="actions">
          <%= button_tag class: "btn btn-success form-control" do %>
              <i class='fa fa-search'></i> Search
          <% end %>
        </div>

    <% end %>
  </div>
</div>


<div class="alert alert-info" role="alert"> We've found <%= @books.size %> records matching your cryteria.</div>

<table class="table table-striped display codes">
  <thead>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Type</th>
    <th>Author</th>
    <th>Year</th>
    <th>Publisher</th>
    <th>ISBN</th>
  </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, show_book_path(book) %></td>
        <td><%= book.category.title %></td>
        <td><%= book.type.title %></td>
        <td><%= book.author %></td>
        <td><%= date(book.year) %></td>
        <td><%= book.publisher %></td>
        <td><%= book.isbn %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<hr/>

<%= link_to "<i class='fa fa-home'></i> Back to home".html_safe, frontend_index_path, class: "btn btn-default" %>
