<h1>Find your favorite book!</h1>
<h2>We have currently <%= @books.size %> books in our database.</h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Search</h3>
  </div>
  <div class="panel-body">

    <%= form_tag frontend_search_path, method: :post, class: 'form-horizontal', role: 'form', id: 'basic_search_form' do %>

        <div class="alert alert-info" role="alert">Use this form to perform a simple search by category and type. Click <strong><%= link_to "HERE", frontend_advanced_search_path %></strong> if you want to try our advanced search.</div>

        <div class="form-group">
          <%= label_tag :category, nil, class: "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-10">
                <%= text_field_tag :category, nil, class: 'form-control col-lg-6', required: true %>
              </div>
              <div class="col-lg-2">
                <%= label_tag nil, class: "radio-inline" do %>
                    <%= radio_button_tag :category_options, '&&', checked: true %> &&
                <% end %>
                <%= label_tag nil, class: "radio-inline" do %>
                    <%= radio_button_tag :category_options, '||' %> ||
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag :type, nil, class: "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-10">
                <%= text_field_tag :type, nil, class: 'form-control col-lg-6', required: true %>
              </div>
              <div class="col-lg-2">
                <%= label_tag nil, class: "radio-inline" do %>
                    <%= radio_button_tag :type_options, '&&', checked: true %> &&
                <% end %>
                <%= label_tag nil, class: "radio-inline" do %>
                    <%= radio_button_tag :type_options, '||' %> ||
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <%= button_tag(type: 'submit', class: "btn btn-success") { "Search".html_safe } %>
          </div>
        </div>

    <% end %>
  </div>
</div>

<div class="well">

  <h3>Debug for testing/search purposes</h3>
  <hr/>
  <h4>Available category titles</h4>
  <%= Category.all.collect(&:title) %>
  <h4>Available type titles</h4>
  <%= Type.all.collect(&:title) %>

</div>