<h1>Search results
  <div class="btn-group pull-right">
    <%= link_to "<i class='fa fa-home'></i> Back to home".html_safe, frontend_index_path, class: "btn btn-default" %>
  </div>
</h1>
<div class="alert alert-info" role="alert"> We've found <%= @books.size %> records matching your cryteria. </div>

<table class="table table-striped display codes">
  <thead>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Type</th>
    <th>Author</th>
    <th>Year</th>
    <th>Publisher</th>
    <th>ISBN</th>
  </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, show_book_path(book) %></td>
        <td><%= book.category.title %></td>
        <td><%= book.type.title %></td>
        <td><%= book.author %></td>
        <td><%= date(book.year) %></td>
        <td><%= book.publisher %></td>
        <td><%= book.isbn %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<hr/>

<%= link_to "<i class='fa fa-home'></i> Back to home".html_safe, frontend_index_path, class: "btn btn-default" %>
