<h1><%= @book.title %>
  <div class="btn-group pull-right">
    <%= link_to "<i class='fa fa-list'></i> Back to list".html_safe, 'javascript:history.go(-1);', class: "btn btn-default" %>
  </div>
</h1>
<hr/>

<div class="row">

  <div class="col-lg-5">
    <h3>Cover</h3>
    <%= image_tag "fake-cover.jpg", class: "img-thumbnail img-responsive" %>
  </div>
  <div class="col-lg-7">

    <h3>Details</h3>

    <ul class="list-group">
      <li class="list-group-item"><strong>Author:</strong> <%= @book.author %></li>
      <li class="list-group-item"><strong>Year:</strong> <%= date(@book.year) %></li>
      <li class="list-group-item"><strong>Publisher:</strong> <%= @book.publisher %></li>
      <li class="list-group-item"><strong>ISBN:</strong> <%= @book.isbn %></li>
    </ul>

    <h3>Book synopsis</h3>

    <div class="well">
      <%= @book.description %>
    </div>

    <h3>Download</h3>

    <% @book.files.each do |file| %>
       <%= download_button(file) %>
    <% end %>

    <% unless @book.files.any? %>
    <div class="alert alert-warning" role="alert"><strong>Sorry,</strong> no versions currently available for download.</div>
    <% end %>

  </div>

</div>

<hr/>
<%= link_to "<i class='fa fa-list'></i> Back to list".html_safe, 'javascript:history.go(-1);', class: "btn btn-default" %>