<div class="panel panel-default">
  <div class="panel-body">

    <%= form_for(@type, html: {class: 'form-horizontal', role: 'form'}) do |f| %>

        <%= errors_for(@type) %>

        <div class="form-group">
          <%= f.label :title, class: "control-label col-md-2" %>
          <div class="col-md-6">
            <%= f.text_field :title, class: 'form-control' %>
          </div>
        </div>

        <div class="actions">
          <%= button_tag class: "btn btn-success form-control" do %>
              <i class='fa fa-check-square-o'></i> Confirm
          <% end %>
        </div>

    <% end %>

  </div>
</div>