<h1>Editing type
  <div class="btn-group pull-right">
    <%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, types_path, class: "btn btn-default" %>
    <%= link_to "<i class='fa fa-fw fa-search'></i>".html_safe, @type, class: "btn btn-default" %>
  </div>
</h1>

<hr/>

<%= render 'form' %>
