<h1>Listing types
  <span class="pull-right"><%= link_to "<i class='fa fa-plus'></i>".html_safe, new_type_path, class: "btn btn-success" %></span>
</h1>
<hr/>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @types.each do |type| %>
      <tr>
        <td><%= type.title %></td>
        <td>
          <div class="button-group">
            <%= link_to "<i class='fa fa-fw fa-search'></i>".html_safe, type %>
            <%= link_to "<i class='fa fa-fw fa-edit'></i>".html_safe, edit_type_path(type) %>
            <%= link_to "<i class='fa fa-fw fa-trash-o'></i>".html_safe, type, method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>