<h1>type
  <div class="btn-group pull-right">
    <%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, types_path, class: "btn btn-default" %>
    <%= link_to "<i class='fa fa-fw fa-edit'></i>".html_safe, edit_type_path(@type), class: "btn btn-default" %>
    <%= link_to "<i class='fa fa-plus'></i>".html_safe, new_type_path, class: 'btn btn-success' %>
  </div>
</h1>
<hr/>

<p>
  <strong>Title:</strong>
  <%= @type.title %>
</p>

