<div class="panel panel-default">
  <div class="panel-body">

    <%= form_for(@book, html: {class: 'form-horizontal', role: 'form', multipart: true}) do |f| %>

        <%= errors_for(@book) %>

        <div class="form-group">
          <%= f.label :category, class: "control-label col-md-2" %>
          <div class="col-md-6">
            <%= f.select :category_id, Category.all.collect {|c| [c.title, c.id]}, {prompt: "Select"}, {class: "form-control"} %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :type, class: "control-label col-md-2" %>
          <div class="col-md-6">
            <%= f.select :type_id, Type.all.collect {|c| [c.title, c.id]}, {prompt: "Select"}, {class: "form-control"} %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :title, class: "control-label col-md-2" %>
          <div class="col-md-6">
            <%= f.text_field :title, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :author, class: "control-label col-md-2" %>
          <div class="col-md-6">
            <%= f.text_field :author, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :year, class: "control-label col-md-2" %>
          <div class="col-md-6">
            <%= f.datetime_select :year, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :cover, class: "control-label col-md-2" %>
          <div class="col-md-6">
            <%= f.text_field :cover, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :publisher, class: "control-label col-md-2" %>
          <div class="col-md-6">
            <%= f.text_field :publisher, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :isbn, class: "control-label col-md-2" %>
          <div class="col-md-6">
            <%= f.text_field :isbn, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :description, class: "control-label col-md-2" %>
          <div class="col-md-6">
            <%= f.text_area :description, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :files, class: "control-label col-md-2" %>
          <div class="col-md-6">
            <%= f.file_field :files, multiple: true, class: 'form-control' %>
            <p class="help-block">Press and mantain shift key to select multiple files form your computer.</p>
          </div>
        </div>

        <div class="actions">
          <%= button_tag class: "btn btn-success form-control" do %>
              <i class='fa fa-check-square-o'></i> Confirm
          <% end %>
        </div>

    <% end %>

  </div>
</div>