<h1>Listing books
  <span class="pull-right"><%= link_to "<i class='fa fa-plus'></i>".html_safe, new_book_path, class: "btn btn-success" %></span>
</h1>
<hr/>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Year</th>
    <th>Publisher</th>
    <th>Isbn</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= date(book.year) %></td>
        <td><%= book.publisher %></td>
        <td><%= book.isbn %></td>
        <td>
          <div class="button-group">
            <%= link_to "<i class='fa fa-fw fa-search'></i>".html_safe, book %>
            <%= link_to "<i class='fa fa-fw fa-edit'></i>".html_safe, edit_book_path(book) %>
            <%= link_to "<i class='fa fa-fw fa-trash-o'></i>".html_safe, book, method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>