<h1>book
  <div class="btn-group pull-right">
    <%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, books_path, class: "btn btn-default" %>
    <%= link_to "<i class='fa fa-fw fa-edit'></i>".html_safe, edit_book_path(@book), class: "btn btn-default" %>
    <%= link_to "<i class='fa fa-plus'></i>".html_safe, new_book_path, class: 'btn btn-success' %>
  </div>
</h1>
<hr/>

<p>
  <strong>Category:</strong>
  <%= @book.category.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @book.type.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @book.cover %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>


<% @book.files.each do |file| %>

     <%= link_to download_tag(file), file.url %>

<% end %>