<div class="panel panel-default">
  <div class="panel-body">

    <%%= form_for(@<%= singular_table_name %>, html: { class: 'form-horizontal', role: 'form' }) do |f| %>

    <%%= errors_for(@<%= singular_table_name %>) %>

    <% attributes.each do |attribute| -%>
        <div class="form-group">
          <% if attribute.password_digest? -%>
              <%%= f.label :password, class: "control-label col-md-2" %>
              <div class="col-md-6">
                <%%= f.password_field :password, class: 'form-control' %>
              </div>
              <%%= f.label :password_confirmation, class: "control-label col-md-2" %>
              <div class="col-md-6">
                <%%= f.password_field :password_confirmation, class: 'form-control' %>
              </div>
          <% else -%>
              <%- if attribute.reference? -%>
                  <%%= f.label :<%= attribute.column_name %>, class: "control-label col-md-2" %>
                  <div class="col-md-6">
                    <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, class: 'form-control' %>
                  </div>
              <%- else -%>
                  <%%= f.label :<%= attribute.name %>, class: "control-label col-md-2" %>
                  <div class="col-md-6">
                    <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, class: 'form-control' %>
                  </div>
              <%- end -%>
          <% end -%>
        </div>
    <% end -%>

    <div class="actions">
      <%%= button_tag class: "btn btn-success form-control" do %>
      <i class='fa fa-check-square-o'></i> Confirm
      <%% end %>
    </div>

    <%% end %>

  </div>
</div>