<h1>Editing <%= singular_table_name %>
  <div class="btn-group pull-right">
    <%%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, <%= index_helper %>_path, class: "btn btn-default" %>
    <%%= link_to "<i class='fa fa-fw fa-search'></i>".html_safe, @<%= singular_table_name %>, class: "btn btn-default" %>
  </div>
</h1>

<hr />

<%%= render 'form' %>
