<h1>New <%= singular_table_name %>
  <span class="pull-right"><%%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, <%= index_helper %>_path, class: "btn btn-default" %></span>
</h1>
<hr />

<%%= render 'form' %>