<h1><%= singular_table_name %>
  <div class="btn-group pull-right">
    <%%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, <%= index_helper %>_path, class: "btn btn-default" %>
    <%%= link_to "<i class='fa fa-fw fa-edit'></i>".html_safe, edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "btn btn-default" %>
    <%%= link_to "<i class='fa fa-plus'></i>".html_safe, new_<%= singular_table_name %>_path, class: 'btn btn-success' %>
  </div>
</h1>
<hr />

<% attributes.reject(&:password_digest?).each do |attribute| -%>
    <p>
      <strong><%= attribute.human_name %>:</strong>
      <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
    </p>

<% end -%>