<h1>Editing category
  <div class="btn-group pull-right">
    <%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, categories_path, class: "btn btn-default" %>
    <%= link_to "<i class='fa fa-fw fa-search'></i>".html_safe, @category, class: "btn btn-default" %>
  </div>
</h1>

<hr/>

<%= render 'form' %>
