<h1>Listing categories
  <span class="pull-right"><%= link_to "<i class='fa fa-plus'></i>".html_safe, new_category_path, class: "btn btn-success" %></span>
</h1>
<hr/>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td>
          <div class="button-group">
            <%= link_to "<i class='fa fa-fw fa-search'></i>".html_safe, category %>
            <%= link_to "<i class='fa fa-fw fa-edit'></i>".html_safe, edit_category_path(category) %>
            <%= link_to "<i class='fa fa-fw fa-trash-o'></i>".html_safe, category, method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>