<h1>category
  <div class="btn-group pull-right">
    <%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, categories_path, class: "btn btn-default" %>
    <%= link_to "<i class='fa fa-fw fa-edit'></i>".html_safe, edit_category_path(@category), class: "btn btn-default" %>
    <%= link_to "<i class='fa fa-plus'></i>".html_safe, new_category_path, class: 'btn btn-success' %>
  </div>
</h1>
<hr/>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

