<div class="navbar-collapse collapse navbar-responsive-collapse navbar-right">
  <ul class="nav navbar-nav">
    <li>
      <%= link_to frontend_advanced_search_path do %>
        <i class="fa fa-search"> Advanced search</i>
      <% end %>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-cogs"></i> Admin <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Books", books_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
        <li><%= link_to "Types", types_path %></li>
      </ul>
    </li>
  </ul>
</div>