<div class="navbar navbar-default navbar-static-top ">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to root_path, class: "navbar-brand" do %>
        <i class="fa fa-book"></i> Alexandria</a>
    <% end %>

    <%= render 'navigation_links' %>

  </div>
</div>